*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(33, 189, 137);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    background-color: whitesmoke;
    width: 400px;
    height: 400px;
    /* padding: 10px; */
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-rows: repeat(7,1fr);
    grid-template-columns: repeat(1,1fr);


}
i{
    color: rgb(8, 105, 73);
    font-size: 1fr;
    
    
}
.hd{
    grid-row-start: 1;
    grid-row-end: 3;
    text-align: center;
    color: white;
    background-color: rgb(8, 105, 73);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.cre1{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    padding-top: 2rem;
}
input{
    padding: 0.5rem;
    width: 85%;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 1rem;
}
.cre2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    
}
.text{
    width: 55%;
    gap: 0.2rem;
    display: flex;
    justify-content: start;
    align-items: center;
    color: rgb(8, 105, 73);
    font-size: medium;
    padding-left: 22px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 50px;;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 1rem;
    color: white;
    background-color: rgb(8, 105, 73);
    margin-left: 22px;
    
    

}
button{
    color: white;
    background-color: rgb(8, 105, 73);
    border: none;
    font-size: medium;
    cursor: pointer;
    padding-left: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    gap: 0.5rem;
}
a{
    color: rgb(8, 105, 73);
}
